#header_page{
    display: grid;
    grid-auto-flow: column;
    border-bottom: solid 4px;
    /*column-gap: 42px;*/
    background-color: #1C374A;
    width: 100%;

        #header_links{
        
        place-self: end;
        font-size: 11px;
        text-align: center;
    }
    h2{
        justify-self: start;
        color: white;
        font-family: Arial, Helvetica, sans-serif
    }
    a{
        color: white;
    }
   
}